@use 'components/shared/styles/constants' as *;
@use 'components/shared/styles/devices' as *;

#scratch_div {
    position: relative;
    width: calc(100vw - 3.2rem);
    height: var(--bot-content-height);
    top: 0;

    @include mobile-or-tablet-screen {
        width: 100%;
    }
}

.blocklyText.blocklyTextRootBlockHeader {
    font-size: calc(var(--text-size-sm) * 0.9);
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.43;
    letter-spacing: normal;
    fill: $color-white;
}

.blocklyMainWorkspaceScrollbar {
    display: none;
}


.injectionDiv {
    height: calc(100vh - 14.0rem);
    position: relative;
    touch-action: none;
    overflow: hidden;
}

.bot-builder {
    position: absolute;
    top: 8.8rem;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: -1;
    visibility: hidden;
    background: var(--general-section-1);
    width: 100%;
    
    &--inactive {
        visibility: hidden;
        z-index: -1;
        pointer-events: none;
    }

    &--active {
        visibility: visible;
        z-index: 5;
    }

    &--tour-active {
        visibility: visible;
        z-index: 5;
    }

    @include mobile-or-tablet-screen {
        top: 9rem;
    }
}
